:root {
  --text-preset-1: 300 clamp(2rem, 4vw, 3.5rem)/1.18 "Rubik", sans-serif;
  --text-preset-2: 300 clamp(2rem, 4vw, 2.5rem)/2.9375rem "Rubik", sans-serif;
  --text-preset-3: 300 2rem/2.375rem "Rubik", sans-serif;
  --text-preset-4: 300 1.5rem/1.75rem "Rubik", sans-serif;
  --text-preset-5-medium: 500 1.125rem/1.3125rem "Rubik", sans-serif;
  --text-preset-5-regular: 400 1.125rem/1.3125rem "Rubik", sans-serif;
  --text-preset-6: 400 0.9375rem/1.125rem "Rubik", sans-serif;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-navy-950: #0e1323;
  --color-navy-900: #1c204b;
  --color-navy-800: #33397a;
  --color-navy-200: #bbc0ff;
  --color-orange-300: #ff8b64;
  --color-purple-700: #7335d2;
  --color-purple-600: #5747ea;
  --color-purple-500: #7078c9;
  --color-blue-300: #55c2e6;
  --color-pink-400: #ff5e7d;
  --color-green-400: #4bcf82;
  --color-yellow-300: #f1c75b;
  --color-grey-200: #d8d8d8;

  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 4rem;

  --padding-card: 2rem;
  --padding-section: 2rem;

  --gap-grid: 2rem;
  --gap-nav: 4rem;

  --radius-card: 0.9375rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(226, 43%, 10%);
  font-family: Rubik, sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

p {
  font: var(--text-preset-6);
  color: var(--color-navy-200);
}

h2 {
  font: var(--text-preset-2);
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  gap: var(--gap-grid);
  padding: 12rem;
  /* max-width: 69.75rem; */
  width: 100%;
}

.profile-card {
  display: flex;
  flex-direction: column;
}

.profile-name {
  background-color: hsl(246, 80%, 60%);
  padding: var(--padding-card) var(--padding-card) 6.1875rem var(--padding-card);
  border-radius: var(--radius-card);
  position: relative;
  z-index: 1;
}

.profile-name img {
  width: 4.875rem;
  margin-block-end: 2.5rem;
  border: solid 0.1875rem white;
  border-radius: 50%;
  box-shadow: rgb(38, 57, 77) 0 1.25rem 1.875rem -0.625rem;
}

.time-frame-nav {
  margin-top: -2rem;
  display: flex;
  flex: 1;
  padding: var(--spacing-2xl) var(--padding-card) var(--padding-card)
    var(--padding-card);
  flex-direction: column;
  background-color: hsl(235, 46%, 20%);
  border-radius: var(--radius-card);
  align-items: flex-start;
  justify-content: flex-start;
}

.button {
  background: none;
  border: none;
  color: var(--color-purple-500);
  cursor: pointer;
  margin-block-end: 1.3125rem;
  font: var(--text-preset-5-regular);
  transition: 0.2s ease-in-out;
}

.button:hover {
  color: var(--color-white);
}

[data-timeframe="monthly"] {
  margin-block-end: 0;
}

.card-banner {
  display: flex;
  height: 4.375rem;
  border-radius: var(--radius-card);
  align-content: center;
  justify-content: flex-end;
  padding-inline-end: var(--spacing-md);
  overflow: hidden;
}

.card-banner img {
  width: 4.375rem;
  height: 100%;
}

.card-banner[data-category="work"] {
  background-color: var(--color-orange-300);
}

.card-banner[data-category="play"] {
  background-color: var(--color-blue-300);
}

.card-banner[data-category="study"] {
  background-color: var(--color-pink-400);
}

.card-banner[data-category="exercise"] {
  background-color: var(--color-green-400);
}

.card-banner[data-category="social"] {
  background-color: var(--color-purple-700);
}

.card-banner[data-category="self-care"] {
  background-color: var(--color-yellow-300);
}

.activities-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 0;
  gap: var(--gap-grid);
  grid-column: span 3;
}

.activity-card {
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.card-body {
  background-color: hsl(235, 46%, 20%);
  padding: var(--padding-card);
  border-radius: var(--radius-card);
  margin-top: -1.25rem;
  flex: 1;
  transition: 0.2s ease-in-out;
}

.card-body:hover {
  background-color: var(--color-navy-800);
  cursor: pointer;
}

.card-title {
  font: var(--text-preset-5-medium);
  margin-block-end: var(--spacing-lg);
}

.time {
  font: var(--text-preset-1);
  margin-block-end: var(--spacing-xs);
}

.time-previous {
  font: var(--text-preset-6);
  color: var(--color-navy-200);
}

@media (max-width: 764px) {
  .dashboard {
    grid-template-columns: 1fr;
    padding: var(--padding-section);
  }

  .profile-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-md);
    padding: var(--padding-card);
  }

  .user {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
  }

  .button {
    margin: 0;
  }

  h2 {
    font-size: 1.25rem;
  }

  .profile-name img {
    margin-block-end: 0;
  }

  .time-frame-nav {
    flex-direction: row;
    padding: var(--spacing-2xl) var(--padding-card) var(--padding-card)
      var(--padding-card);
    justify-content: space-between;
  }

  .activities-container {
    grid-template-columns: 1fr;
    grid-column: span 1;
  }

  .activity-card,
  .profile-card {
    width: 100%;
  }

  .card-title {
    margin-block-end: var(--spacing-sm);
  }

  .time-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .time {
    margin: 0;
  }
}

@media (min-width: 765px) and (max-width: 1439px) {
  .dashboard {
    grid-template-columns: 1fr;
    padding: var(--padding-section);
  }

  .profile-card {
    width: 100%;
  }

  .activities-container {
    grid-column: span 1;
    grid-template-columns: repeat(3, 1fr);
  }

  .profile-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-md);
    padding: var(--padding-card);
  }

  .user {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
  }

  .button {
    margin: 0;
  }

  h2 {
    font-size: 1.375rem;
  }

  .profile-name img {
    margin-block-end: 0;
  }

  .time-frame-nav {
    flex-direction: row;
    padding: var(--spacing-2xl) 0 var(--padding-card) 0;
    justify-content: center;
    gap: var(--gap-nav);
  }
}
